<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Getting Started with Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="../../../assets/icon/favicon.png" />
    <ion-title>Explore More With Ionic & Angular</ion-title>
    <ion-button (click)="logOut()">Log Out</ion-button>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" style="margin: 0 2rem 2rem 0">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
