<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #categoryForm="ngForm" class="category-form" (ngSubmit)="addCategory(categoryForm)">
    <ion-input name="category_name" label="Category Name
    " labelPlacement="floating" placeholder="Category Name
    " ngModel>
    </ion-input>
    <!--  -->
    <ion-input name="category_description" label="Category Description
    " labelPlacement="floating" placeholder="Category Description
    " ngModel></ion-input>
    <!--  -->
    <ion-select name="parent_id" ngModel label="Select Category" label-placement="floating" placeholder="Select Category">
      <ion-select-option [value]="agency.id" *ngFor="let agency of list">{{agency.category_name}}</ion-select-option>
    </ion-select>
    <!--  -->
    <ion-button type="submit" id="open-toast" expand="block" (click)="closeModal()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-toast trigger="open-toast" message="Data Sumbit" [duration]="5000" class="toast"></ion-toast>
    <!--  -->
  </form>
</ion-content>