.sc-ion-searchbar-md-h {
  width: 30%;
  --border-radius: 1.25rem;
}

ion-tab-bar {
  justify-content: space-between;
  padding-top: 0.8rem;
}

ion-item {
  max-width: fit-content;

  .item-inner {
    border-style: none !important;
  }
}

.badge {
  position: relative;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: large;
  width: fit-content;
}

.badge .badge-num {
  position: absolute;
  top: 0.8rem;
  right: -0.5rem;
  font-size: 0.7rem;
  color: var(--background);
  background-color: var(--ion-color-primary);
  padding: 0.1rem 0.3rem;
  border-radius: 15px;
}

ion-tab-button {
  position: relative;
}

.badge-sm {
  padding: 0.2rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0;
  font-weight: 500;
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
}

.badge-sm .badge-num {
  position: absolute;
  top: 0;
  left: 60%;
  font-size: 0.7rem;
  color: var(--background);
  background-color: var(--ion-color-primary);
  padding: 0.1rem 0.3rem;
  border-radius: 15px;
}

ion-tabs {
  position: relative;
  // height: 95%;
}

.box-shadow {
  box-shadow: none;
}

@media only screen and (max-width: 576px) {
  .sc-ion-searchbar-md-h {
    width: 50%;
  }

  .badge-sm {
    padding-left: 0;
    padding-right: 0;
  }

  .badge-sm .badge-num {
    font-size: 0.5rem;
    left: 70%;
  }
}
