<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--  -->
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" (ionClear)="onClear()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-label>Parent_ID:{{ result.Parent_ID }} itemName:{{ result.itemName }} sort_index:{{ result.sort_index }}
        videoCount:{{ result.videoCount
        }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>