.progressBar{
    padding: 0.5rem ;
    width: 95%;
    margin: 1rem auto;
    border-radius: 15px;
}


.custom-file-input {
    display: none;
  }
  
  .custom-file-label {
    background-color: #007bff;
    color: #fff;
    padding: .625rem .9375rem;
    margin-bottom: 1rem;
    display: block;
    width: fit-content;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-label:hover {
    background-color: #0056b3;
  }