<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="success">
      <ion-back-button defaultHref="/videos/general"></ion-back-button>
      <ion-title>Upload Videos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <input type="file" (change)="onFileSelected($event)" /> -->
  <input
    type="file"
    id="fileInput"
    class="custom-file-input"
    (change)="onFileSelected($event)"
  />
  <label for="fileInput" class="custom-file-label">Choose a file</label>

  <ion-progress-bar
    color="success"
    [value]="uploadProgress"
    class="progressBar"
  ></ion-progress-bar>
  <ion-button shape="round" color="primary" (click)="uploadFile()"
    >Upload</ion-button
  >
  <!--  -->
  <!-- <ion-card>
    <ion-card-content>
      <img [src]="uploadedFilePath" alt="Uploaded File" />
      <video [src]="uploadedFilePath" alt="Uploaded File" style="width: 100%;"></video>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card *ngIf="fileFormat === 'image'">
    <ion-card-content>
      <img [src]="uploadedFilePath" alt="Uploaded Image" />
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="fileFormat === 'video'">
    <ion-card-content>
      <video [src]="uploadedFilePath" controls style="width: 100%"></video>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="fileFormat === 'unknown'">
    <ion-card-content>
      Please select a file to upload! or Unknown file format. Supported formats:
      JPG, JPEG, PNG, MP4, AVI, MOV.
    </ion-card-content>
  </ion-card> -->

  <!--  -->
</ion-content>
