<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      (click)="closeModal()"
      name="close-circle-outline"
      size="large"
      class="ion-padding-horizontal"
      slot="end"
    ></ion-icon>
    <ion-title> Add Location </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
  <form
    #addLocationForm="ngForm"
    class="location-form"
    (ngSubmit)="addLocation(addLocationForm)"
  >
    <ion-input
      name="hospital_name"
      label="Hospital Name"
      labelPlacement="floating"
      placeholder="Hospital Name"
      ngModel
    ></ion-input>

    <ion-input
      name="hospital_region"
      label="Region"
      labelPlacement="floating"
      placeholder="Region"
      ngModel
    ></ion-input>

    <ion-input
      name="hospital_address"
      label="Address"
      labelPlacement="floating"
      placeholder="Address"
      ngModel
    ></ion-input>

    <ion-select
      name="category"
      ngModel
      label="Select Category"
      label-placement="floating"
      placeholder="Select Category"
    >
      <ion-select-option
        *ngFor="let category of getCategoryDataList"
        [value]="category.category_name"
        >{{ category.category_name }}
      </ion-select-option>
    </ion-select>

    <div class="slot-box">
      <div class="days">
        <ion-select
          name="days"
          [(ngModel)]="selectedDays"
          label="Select Days"
          label-placement="floating"
          placeholder="Select Days"
          multiple
        >
          <ion-select-option value="Sunday">Sunday </ion-select-option>
          <ion-select-option value="Monday">Monday </ion-select-option>
          <ion-select-option value="Tuesday">Tuesday </ion-select-option>
          <ion-select-option value="Wednesday">Wednesday </ion-select-option>
          <ion-select-option value="Thursday">Thursday </ion-select-option>
          <ion-select-option value="Friday">Friday </ion-select-option>
          <ion-select-option value="Saturday">Saturday </ion-select-option>
        </ion-select>
      </div>
      <div class="time">
        <div
          *ngFor="let slot of slots; let i = index"
          style="
            display: flex;
            align-items: center;
            width: -webkit-fill-available;
          "
        >
          {{ slot | json }}
          <div class="time-box">
            <div class="start_time">
              <!-- <ion-label> Start time</ion-label> -->
              <ion-input
                label="Start Time"
                labelPlacement="floating"
                placeholder="Start Time"
                name="startTime"
                [(ngModel)]="slot.startTime"
              ></ion-input>
              <ion-datetime-button
                class="ion-justify-content-start"
                datetime="start_time"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    presentation="time"
                    id="start_time"
                    (ionChange)="timeSelectionChange($event, 'start', slot)"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
            <div class="end_time">
              <!-- <ion-label> End time</ion-label> -->
              <ion-input
                label="End Time"
                labelPlacement="floating"
                placeholder="End Time"
                name="endTime"
                [(ngModel)]="endTime"
              ></ion-input>

              <ion-datetime-button
                class="ion-justify-content-start"
                datetime="end_time"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    presentation="time"
                    id="end_time"
                    (ionChange)="timeSelectionChange($event, 'end')"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </div>
          <ion-button class="clr-btn" color="danger" (click)="removeSlot(i)"
            ><ion-icon name="remove-outline"></ion-icon
          ></ion-button>
        </div>

        <ion-button (click)="addSlot()" expand="block">
          <ion-icon name="time-outline"></ion-icon>
          Add Time Slots
        </ion-button>
      </div>
    </div>

    <ion-button type="submit" id="open-toast" shape="round">
      <ion-icon name="location-outline"></ion-icon>
      Add Location
    </ion-button>
    <ion-toast
      trigger="open-toast"
      message="Location Added"
      [duration]="5000"
      class="toast"
    ></ion-toast>
  </form>
  <!--  -->
</ion-content>
