<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      (click)="closeModal()"
      name="close-circle-outline"
      size="large"
      class="ion-padding-horizontal"
      slot="end"
    ></ion-icon>
    <ion-title> Add Location </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
  <form
    #addLocationForm="ngForm"
    class="location-form"
    (ngSubmit)="addLocation(addLocationForm)"
  >
    <ion-input
      name="hospital_name"
      label="Hospital Name"
      labelPlacement="floating"
      placeholder="Hospital Name"
      ngModel
    ></ion-input>
    <ion-input
      name="hospital_region"
      label="Region"
      labelPlacement="floating"
      placeholder="Region"
      ngModel
    ></ion-input>

    <ion-input
      name="hospital_address"
      label="Address"
      labelPlacement="floating"
      placeholder="Address"
      ngModel
    ></ion-input>

    <ion-select
      name="category"
      ngModel
      label="Select Category"
      label-placement="floating"
      placeholder="Select Category"
    >
      <ion-select-option
        *ngFor="let category of getCategoryDataList"
        [value]="category.category_name"
        >{{ category.category_name }}
      </ion-select-option>
    </ion-select>

    <ion-button type="submit" id="open-toast" expand="full" shape="round">
      <ion-icon name="location-outline"></ion-icon>
      Add Location
    </ion-button>
    <ion-toast
      trigger="open-toast"
      message="Location Added"
      [duration]="5000"
      class="toast"
    ></ion-toast>
  </form>
  <!--  -->
</ion-content>
