.location-form {
  margin: 1.8rem 2rem;
  // box-shadow: 0px 14px 100px -18px grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.8rem 0;
  border-radius: 10px;
  background: var(--ion-color-light-shade);

  ion-input,
  ion-select {
    --padding-top: 0rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    // margin-bottom: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
    max-width: -webkit-fill-available;
    background-color: #fff;
    border-radius: 10px;
  }

  ion-button {
    --border-radius: 8px;
    margin: 0 1rem 0.5rem 1rem;
  }

  .slot-box {
    .time {
      display: flex;
      align-items: center;
      gap: 1rem;

      .time-box {
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
        gap: 0.5rem;
        flex-basis: auto;
        flex-grow: 1;

        ion-datetime-button {
          margin: 0 1rem 0.5rem 1rem;
        }
      }

      ion-button {
        flex-basis: auto;
        flex-grow: 1;
      }
    }
  }
}

.toast {
  width: 15%;
  margin: auto;
}

@media only screen and (max-width: 576px) {
  .location-form {
    margin: 1.8rem auto;

    .slot-box .time {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      flex-wrap: wrap;
    }
  }

  .toast {
    width: fit-content;
    margin: auto;
  }
}
