<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="closeModal()" slot="end" color="light" class="cls-btn"
      ><ion-icon name="close-circle-outline" size="large"></ion-icon
    ></ion-button>
    <ion-title> Update Category </ion-title>
  </ion-toolbar>
</ion-header>

<div class="input-box ion-padding">
  <ion-input
    name="category_name"
    label="Category Name"
    labelPlacement="floating"
    placeholder="Category Name"
    [(ngModel)]="catData.category_name"
  ></ion-input>
  <!--  -->
  <ion-input
    name="category_description"
    label="Category Description
    "
    labelPlacement="floating"
    placeholder="Category Description
    "
    [(ngModel)]="catData.category_description"
  ></ion-input>
  <!--  -->
  <ion-select
    name="type"
    label="Type"
    label-placement="floating"
    placeholder="Type"
    [(ngModel)]="catData.type"
  >
    <ion-select-option value="apple">Agency</ion-select-option>
  </ion-select>
  <ion-button (click)="closeModal()" shape="round">Update</ion-button>
</div>
