<ion-header [translucent]="true" class="sm-header-none">
  <ion-toolbar>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-text-left" sizeMd="4">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >PlayList Name</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Video</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Category</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-end">Actions</ion-card-subtitle>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list
    *ngFor="let childPlaylist of getchildPlaylistData | search:CommonService.searchText"
  >
    <ion-row class="ion-padding-horizontal ion-align-items-center">
      <ion-col class="" sizeMd="0.5">
        <ion-icon size="large" name="play-circle-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-left text-sm" sizeMd="3.5">
        <ion-label>
          <ion-title>
            <ion-card-subtitle
              >{{childPlaylist.playList_name}}</ion-card-subtitle
            >
          </ion-title>
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >{{childPlaylist.total_videos}}</ion-card-subtitle
          >
          <!-- <ion-card-subtitle class="ion-padding-horizontal"
          >{{files.fileFormat}}</ion-card-subtitle
        > -->
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >{{childPlaylist.category.category_name}}</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-button shape="round" color="primary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button
          shape="round"
          color="danger"
          (click)="deleteChildPlaylist(childPlaylist.id)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <!-- fab-btn -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin: 0 2rem 2rem 0"
  >
    <ion-fab-button [routerLink]="['/add-playlist']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
