<ion-header [translucent]="true" class="box-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="badge">
      <p>Playlist</p>
      <div class="badge-num">{{totalPlaylistDataLenght}}</div>
    </div>
    <!--  -->
    <ion-searchbar
      slot="end"
      [debounce]="1000"
      (ionInput)="handleInput($event)"
      (ionClear)="onClear()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
  <ion-tabs class="pt-9" (ionTabsDidChange)="setCurrentTab($event)">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="master_playlist">
        <ion-icon aria-hidden="true" name="folder-open-outline"></ion-icon>
        <div class="badge-sm">
          Master Playlist
          <div class="badge-num">{{masterPlaylistDataLenght}}</div>
        </div>
      </ion-tab-button>
      <!--  -->
      <ion-tab-button tab="child_playlist">
        <ion-icon aria-hidden="true" name="medkit-outline"></ion-icon>
        <div class="badge-sm">
          Child Playlist
          <div class="badge-num">{{childPlaylistDataLenght}}</div>
        </div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--  -->
</ion-content>
