<ion-app>
  <ion-split-pane when="xs" contentId="main" *ngIf="authService.isUserLogin">
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>My Wan</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="my-list">
        <ion-list *ngFor="let item of menus.menuItem()">
          <ion-item routerLink="{{ item.url }}">
            <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
            <ion-label> {{ item.heading }} </ion-label>
          </ion-item>
        </ion-list>
        <ion-item (click)="logOut()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-item>
      </div>
    </ion-content>
    <ion-router-outlet id="main" class="ion-page"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet
    id="main"
    class="ion-page"
    *ngIf="!authService.isUserLogin"
  ></ion-router-outlet>
</ion-app>
