<ion-app>
  <ion-split-pane when="xs" contentId="main" *ngIf="authService.isUserLogin">
    <ion-content color="side-menu" [ngClass]="{ hide: isMenuClosed }">
      <ion-header>
        <ion-toolbar>
          <div class="menu-head">
            <div class="menu-title">
              <ion-icon name="menu-outline" class="menu-tgl"></ion-icon>
              <h3>My Wan {{ authService.userEmail }}</h3>
            </div>
            <div class="theme-tgl">
              <ion-icon
                name="close-circle-outline"
                (click)="closeMenu()"
              ></ion-icon>
              <ion-icon name="moon-outline"></ion-icon>
              <ion-toggle
                slot="end"
                (ionChange)="toggleChange($event)"
              ></ion-toggle>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <div class="my-list">
        <ion-list *ngFor="let item of commonService.menuItem()">
          <ion-item routerLink="{{ item.url }}">
            <ion-icon name="{{ item.icon }}" slot="start"></ion-icon>
            <ion-label> {{ item.heading }} </ion-label>
          </ion-item>
        </ion-list>
        <ion-item (click)="logOut()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label> Logout </ion-label>
        </ion-item>
      </div>
    </ion-content>
    <ion-router-outlet id="main" class="ion-page"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet
    id="main"
    class="ion-page"
    *ngIf="!authService.isUserLogin"
  ></ion-router-outlet>
</ion-app>
