<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="badge">
      <p>Category</p>
      <div class="badge-num">{{totalCatLength}}</div>
    </div>
    <!--  -->
    <ion-searchbar
      slot="end"
      [debounce]="1000"
      (ionInput)="handleInput($event)"
      (ionClear)="onClear()"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="sm-header-none">
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-text-left" sizeMd="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Category Name</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Playlist Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Video Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Location Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-end">Actions</ion-card-subtitle>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-row
      class="ion-padding-horizontal ion-align-items-center"
      *ngFor=" let catData of getCategoryData | async  | search:common.searchText"
    >
      <ion-col class="" sizeMd="0.5">
        <ion-icon size="default" name="pricetag-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-left text-sm" sizeMd="2.5">
        <ion-label>
          <ion-title>
            <ion-card-subtitle>{{catData.category_name}}</ion-card-subtitle>
          </ion-title>
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >{{catData.parent_id}}</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Playlist Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Playlist Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" sizeMd="3">
        <ion-button
          shape="round"
          color="primary"
          (click)="openUpdateCategoryModal(catData)"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button
          shape="round"
          color="danger"
          (click)="deleteClient(catData.id)"
          *ngIf="authService.userEmail === 'dewanshusingh21@gmail.com'"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <!-- fab-btn -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin: 0 2rem 2rem 0"
  >
    <!-- <ion-fab-button (click)="openAddCategoryModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button> -->
    <ion-fab-button [routerLink]="['/add-category']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
