<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-title> Enter email to reset password </ion-title>
    <form [formGroup]="resetForm" novalidate>
      <div class="ion-padding flex-gap-0-5">
        <ion-item>
          <ion-input formControlName="email" label="Email" type="email" labelPlacement="floating"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <div *ngIf="resetForm.get('email').touched">
          <ion-text color="danger" *ngIf="resetForm.get('email').hasError('required')">
            Email is required
          </ion-text>
          <ion-text color="danger" *ngIf="resetForm.get('email').hasError('pattern')">
            Invalid email format
          </ion-text>
        </div>
        <!--  -->
        <ion-button (click)="resetPass()" shape="round">Submit</ion-button>
      </div>
    </form>
  </div>

  <ion-fab *ngIf="authService.isUserLogin=== true ; else elseBlock" vertical="bottom" horizontal="start"
    style="margin: 0 0 2rem 2rem">
    <ion-fab-button [routerLink]="['/profile']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #elseBlock>
    <ion-fab vertical="bottom" horizontal="start" style="margin: 0 0 2rem 2rem">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>