<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <ion-icon
        (click)="closeModal()"
        name="close-circle-outline"
        class="icon-set"
      ></ion-icon> -->
      Modal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
  <div class="input-box ion-padding">
    <ion-input
      name="uname"
      label="Name"
      labelPlacement="floating"
      placeholder="Name"
      [(ngModel)]="dataDetails.uname"
    ></ion-input>
    <!--  -->
    <ion-input
      name="email"
      label="Email"
      labelPlacement="floating"
      placeholder="Email"
      [(ngModel)]="dataDetails.email"
    ></ion-input>
    <!--  -->
    <ion-input
      name="mobile"
      label="Mobile"
      labelPlacement="floating"
      placeholder="Mobile"
      [(ngModel)]="dataDetails.mobile"
    ></ion-input>
    <!--  -->
    <ion-input
      name="address"
      label="Address"
      labelPlacement="floating"
      placeholder="Address"
      [(ngModel)]="dataDetails.address"
    ></ion-input>
    <!--  -->
    <ion-input
      name="region"
      label="Region"
      labelPlacement="floating"
      placeholder="Region"
      [(ngModel)]="dataDetails.region"
    ></ion-input>
    <!--  -->
    <ion-input
      name="devices"
      label="On Device"
      labelPlacement="floating"
      placeholder="On Device"
      [(ngModel)]="dataDetails.devices"
    ></ion-input>
    <!--  -->
    <ion-input
      name="location_count"
      label="Location Count"
      labelPlacement="floating"
      placeholder="Location Count"
      [(ngModel)]="dataDetails.location_count"
    ></ion-input>
    <!--  -->
    <ion-input
      name="campaign_count"
      label="Campaign Count"
      labelPlacement="floating"
      placeholder="Campaign Count"
      [(ngModel)]="dataDetails.campaign_count"
    ></ion-input>
    <!--  -->
    <ion-select
      name="type"
      ngModel
      label="Agency"
      label-placement="floating"
      placeholder="Agency"
      [(ngModel)]="dataDetails.type"
    >
      <ion-select-option value="apple">Agency1</ion-select-option>
      <ion-select-option value="banana">Agency2</ion-select-option>
    </ion-select>

    <!--  -->

    <ion-button (click)="closeModal()" shape="round">Update</ion-button>
  </div>
  <!--  -->
</ion-content>
