// app-modal.ion-page {
//   --width: 450px !important;
//   --height: 430px !important;
//   --border-radius: 2px;
//   --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
// }

.input-box {
  display: flex;
  flex-wrap: wrap;
  ion-input {
    flex-basis: 20rem;
    flex-grow: 1;
  }
}
