<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-circle-outline" [routerLink]="['/users/advertiser']" class="icon-set"></ion-icon>
      Add New Advertiser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New Advertiser</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  -->
  <form #advertiserForm="ngForm" class="advertiser-form" (ngSubmit)="addAdvertiser(advertiserForm)">
    <ion-input name="uname" label="Name" labelPlacement="floating" placeholder="Name" ngModel></ion-input>
    <!--  -->
    <ion-input name="email" label="Email" labelPlacement="floating" placeholder="Email" ngModel></ion-input>
    <!--  -->
    <ion-input name="address" label="Address" labelPlacement="floating" placeholder="Address" ngModel></ion-input>
    <!--  -->
    <ion-input name="region" label="Region" labelPlacement="floating" placeholder="Region" ngModel></ion-input>
    <!--  -->
    <ion-input name="mobile" label="Mobile" labelPlacement="floating" placeholder="Mobile" ngModel></ion-input>
    <!--  -->
    <ion-input name="campaign_count" label="Campaign Count" labelPlacement="floating" placeholder="Campaign Count"
      ngModel></ion-input>
    <!--  -->
    <ion-select name="type" ngModel label="Agency" label-placement="floating" placeholder="Agency">
      <ion-select-option value="agency.type" *ngFor="let agency of getAgencyData">{{agency.type}}</ion-select-option>
      <!-- <ion-select-option value="banana">Agency2</ion-select-option> -->
    </ion-select>
    <!--  -->

    <ion-button type="submit" id="open-toast" expand="block">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-toast trigger="open-toast" message="Data Sumbit" [duration]="5000" class="toast"></ion-toast>
    <!--  -->

    <ion-button type="reset" id="open-toast-2" expand="block">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-toast trigger="open-toast-2" message="Form Reset" [duration]="5000" class="toast"></ion-toast>
    <!--  -->
  </form>
</ion-content>