<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon
        name="arrow-back-circle-outline"
        [routerLink]="['/users/clients']"
      ></ion-icon>
      Add New Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New Clients</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  -->
  <form
    #clientsForm="ngForm"
    class="clients-form"
    (ngSubmit)="addClient(clientsForm)"
  >
    <ion-input
      name="uname"
      label="Name"
      labelPlacement="floating"
      placeholder="Name"
      ngModel
    ></ion-input>
    <ion-input
      name="email"
      label="Email"
      labelPlacement="floating"
      placeholder="Email"
      ngModel
    ></ion-input>
    <ion-input
      name="mobile"
      label="Mobile"
      labelPlacement="floating"
      placeholder="Mobile"
      ngModel
    ></ion-input>
    <ion-input
      name="address"
      label="Address"
      labelPlacement="floating"
      placeholder="Address"
      ngModel
    ></ion-input>
    <ion-input
      name="region"
      label="Region"
      labelPlacement="floating"
      placeholder="Region"
      ngModel
    ></ion-input>
    <ion-input
      name="devices"
      label="On Device"
      labelPlacement="floating"
      placeholder="On Device"
      ngModel
    ></ion-input>
    <!--  -->
    <ion-label class="ion-padding-horizontal"
      ><strong>Add Locations</strong></ion-label
    >
    <div class="location">
      <div class="location-sec">
        <ion-input
          name="location_count"
          label="Location Count"
          labelPlacement="floating"
          placeholder="Location Count"
          ngModel
        ></ion-input>
        <ion-button (click)="addLocation()">Add Locations</ion-button>
      </div>
    </div>
    <!--  -->
    <ion-label class="ion-padding-horizontal"
      ><strong>Contract Period</strong></ion-label
    >
    <div class="contract-sec">
      <div class="contract-start">
        <!-- <ion-label> Start Date</ion-label> -->
        <ion-input
          label="Start Date"
          labelPlacement="floating"
          placeholder="Start Datet"
          name="contractStart"
          [(ngModel)]="startDate"
        ></ion-input>
        <ion-datetime-button
          class="ion-padding-top ion-justify-content-start"
          datetime="contract_start"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="contract_start"
              (ionChange)="dateSelectionChange($event, 'start')"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <div class="contract-end">
        <!-- <ion-label> End Date</ion-label> -->
        <ion-input
          label="End Date"
          labelPlacement="floating"
          placeholder="End Date"
          name="contractEnd"
          [(ngModel)]="endDate"
        ></ion-input>
        <ion-datetime-button
          class="ion-padding-top ion-justify-content-start"
          datetime="contract_end"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="contract_end"
              (ionChange)="dateSelectionChange($event, 'end')"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    <!--  -->
    <ion-button type="submit" id="open-toast" expand="block">
      <ion-icon name="checkmark-outline"></ion-icon> &nbsp; Add Client
    </ion-button>
    <ion-toast
      trigger="open-toast"
      message="Data Sumbit"
      [duration]="5000"
      class="toast"
    ></ion-toast>
    <!--  -->
  </form>
</ion-content>
