/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-app {
  margin: 4rem;
  border-radius: 15px;
  box-shadow: 0px 32px 74px -64px var(--ion-color-dark);
  // background-color: var(--ion-color-dark);
}

ion-content {

  // position: relative;
  // padding: 0 2rem 2rem 2rem !important;
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .flex-gap-0-5 {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    form {
      width: 60%;

      ion-item {
        border-radius: 0.75rem;

        ion-input {
          margin: 0rem 0 0.3rem 0;
        }
      }

      .links {
        text-align: right;
        line-height: 1.3;

        a {
          text-decoration: none;
        }
      }

      .signUp {
        position: absolute;
        bottom: 2rem;
        text-align: center;
        left: 10%;
        right: 10%;
      }
    }
  }
}

ion-header ion-toolbar:first-of-type {
  padding: 0.2rem 0;
}

ion-item .item-inner {
  border-style: none;
}

.pl-0 {
  padding-left: 0;
}

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-set {
  position: relative;
  top: 0.4rem;
  font-size: 1.75rem;
}

.img-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.2rem;

  ion-avatar {
    flex-basis: 4rem;
    flex-grow: 1;
    max-width: 4rem;
    height: auto;
    line-height: 0;
  }

  ion-label {
    flex-basis: 10rem;
    flex-grow: 1;
  }
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

ion-modal>.ion-page {
  position: relative;
  box-shadow: 0px 12px 220px -40px var(--ion-color-medium);
  // --width: 450px;
  // --height: 430px;
}

@media only screen and (max-width: 576px) {
  ion-app {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    // background-color: var(--ion-color-dark);
  }

  form {
    width: 90% !important;

    .signUp {
      bottom: 1rem !important;
    }
  }

  .sm-header-none {
    display: none;
  }


  .action-btns {
    // flex-direction: column;
    flex-wrap: wrap;

    ion-button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 1023px) {
  ion-app {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    // background-color: var(--ion-color-dark);
  }
}