.playList-form {
  //   margin: 1.8rem 3rem;
  // box-shadow: 0px 14px 100px -18px grey;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  // height: 100%;

  ion-input {
    --padding-top: 0rem;
    --padding-end: 1rem;
    margin-bottom: 0.5rem;
    margin: 0 1rem 0.8rem 1rem;
    max-width: -webkit-fill-available;
    // flex-basis: 25rem;
    // flex-grow: 1;
  }

  ion-select {
    margin: 0 1rem 0.8rem 1rem;
    max-width: -webkit-fill-available;
    // flex-basis: 25rem;
    // flex-grow: 1;
  }

  ion-list {
    margin: 0 1rem 0.8rem 1rem;
    max-width: -webkit-fill-available;
    // flex-basis: 25rem;
    // flex-grow: 1;
  }

  ion-button {
    max-width: -webkit-fill-available;
    // flex-basis: 25rem;
    // flex-grow: 1;
  }
  .badge {
    float: right;
    margin-right: 1rem;
  }
  .selected_items {
    border-radius: 10px;
    background: var(--ion-color-light-shade);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    ion-list {
      margin: 0;
      max-width: -webkit-fill-available;
      border-radius: 7px;
    }
  }
}

.input-label-placement-floating.sc-ion-input-md-h input.sc-ion-input-md {
  margin-top: 8px;
}

.toast {
  width: -webkit-fill-available;
  margin: auto 30%;
}

@media only screen and (max-width: 576px) {
  .playList-form {
    margin: 1.8rem auto;
  }

  .toast {
    width: fit-content;
    margin: auto;
  }
}
