<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon
        name="arrow-back-circle-outline"
        [routerLink]="['/playlist/master_playlist']"
        class="icon-set"
      ></ion-icon>
      Add Playlist</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
    #playListForm="ngForm"
    class="playList-form"
    (ngSubmit)="addPlaylist(playListForm)"
  >
    <ion-input
      name="playList_name"
      label="Playlist Name
    "
      labelPlacement="floating"
      placeholder="Playlist Name
    "
      ngModel
    >
    </ion-input>
    <!--  -->
    <ion-select
      name="category"
      ngModel
      label="Select Category"
      label-placement="floating"
      placeholder="Select Category"
    >
      <ion-select-option
        [value]="catList"
        *ngFor="let catList of getCategoryDataList"
        >{{catList.category_name}}</ion-select-option
      >
    </ion-select>
    <!--  -->
    <ion-select
      name="type"
      [(ngModel)]="type"
      label="Select Type"
      label-placement="floating"
      placeholder="Select Type"
    >
      <ion-select-option value="master_playlist"
        >Master Playlist</ion-select-option
      >
      <ion-select-option value="child_playlist"
        >Child Playlist</ion-select-option
      >
    </ion-select>
    <!--  -->
    <!-- selected video list -->
    <ion-input
      name="total_videos"
      label="Total Videos"
      labelPlacement="floating"
      placeholder="Total Videos"
      [(ngModel)]="isMasterPlaylist ? getSelectedVideo.length : seletedItemLength"
    >
    </ion-input>
    <!--  -->
    <div class="selected_items">
      <ion-list name="selected_video">
        <div *ngIf="getSelectedVideo">
          <ion-badge class="badge" slot="end">
            {{getSelectedVideo.length}}
          </ion-badge>
          <ion-title> Selected Videos </ion-title>
        </div>
        <ion-item *ngFor="let video of getSelectedVideo">
          <ion-label>{{ video.name }}</ion-label>
        </ion-item>
      </ion-list>
      <!--  -->
      <ion-list name="selected_playlist">
        <ion-title> Selected Playlist </ion-title>
        <ion-item *ngFor="let masterPlaylist of getSelectedPlaylist">
          <ion-badge slot="end">
            {{masterPlaylist.selectedVideoList.length}}
          </ion-badge>
          <ion-label>{{masterPlaylist.playList_name}} </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <!--  -->
    <ion-button
      type="submit"
      id="open-toast"
      expand="full"
      shape="round"
      (click)="navigateToCategory()"
    >
      Create Playlist
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-toast
      trigger="open-toast"
      message="Data Sumbit & Please refresh the page"
      [duration]="5000"
      class="toast"
    ></ion-toast>
    <!--  -->
  </form>
  <!-- fab-btn -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin: 0 6rem 2rem 0"
    *ngIf="type == 'child_playlist'"
  >
    <ion-fab-button (click)="openVideoModal()">
      <ion-icon name="folder-open-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--  -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin: 0 2rem 2rem 0"
  >
    <ion-fab-button (click)="openGeneralVideoModal()" title="Add Video">
      <ion-icon name="add-outline"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
