<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-text-left" size="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Clients</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Mobile</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >Location Count</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-label>
          <ion-card-subtitle class="ion-padding-horizontal"
            >On Device</ion-card-subtitle
          >
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <ion-label>
          <ion-card-subtitle class="ion-padding-end">Actions</ion-card-subtitle>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <div class="example-content">Clients content</div> -->
  <ion-list>
    <ion-row
      class="ion-padding-top ion-align-items-center"
      *ngFor="let clientData of getClientData"
    >
      <ion-col size="3">
        <div class="img-box">
          <ion-avatar>
            <img
              alt="person-icon"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>
            <ion-card-title>{{clientData.uname}}</ion-card-title>
            <ion-card-subtitle>{{clientData.email}}</ion-card-subtitle>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="phone-portrait-outline"></ion-icon><br />
        <ion-label>{{clientData.mobile }}</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="location-outline"></ion-icon><br />
        <ion-label>{{clientData.location_count }}</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="play-outline"></ion-icon><br />
        <ion-label>{{clientData.devices }}</ion-label>
      </ion-col>
      <ion-col size="3" class="action-btns">
        <ion-button expand="block" shape="round" (click)="openModel(clientData)"
          >Edit</ion-button
        >
        <ion-button
          shape="round"
          color="danger"
          (click)="deleteClient(clientData.id)"
          >Delete</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-list>

  <!-- fab-btn -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="margin: 0 2rem 2rem 0"
  >
    <ion-fab-button [routerLink]="['/add-clients']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
