ion-header ion-toolbar:first-of-type {
  --min-height: 30px;
}

// responsive-screen
@media only screen and (max-width: 576px) {
  .img-box {
    align-items: flex-start;
    flex-direction: column;
  }
}
