<ion-header [translucent]="true" class="box-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="badge">
      <p>Videos</p>
      <div class="badge-num">"0"</div>
    </div>
    <!--  -->
    <ion-searchbar
      slot="end"
      [debounce]="1000"
      (ionInput)="handleInput($event)"
      (ionClear)="onClear()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
  <ion-tabs class="pt-9" (ionTabsDidChange)="setCurrentTab($event)">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="general">
        <ion-icon aria-hidden="true" name="folder-open-outline"></ion-icon>
        <div class="badge-sm">
          General
          <div class="badge-num">{{storageRefLenghtGen}}</div>
        </div>
      </ion-tab-button>
      <!--  -->
      <ion-tab-button tab="doctor">
        <ion-icon aria-hidden="true" name="medkit-outline"></ion-icon>
        <div class="badge-sm">
          Doctor
          <div class="badge-num">{{storageRefLenghtDoc}}</div>
        </div>
      </ion-tab-button>
      <!--  -->
      <ion-tab-button tab="ads">
        <ion-icon aria-hidden="true" name="megaphone-outline"></ion-icon>
        <div class="badge-sm">
          Ads
          <div class="badge-num">{{storageRefLenghtAds}}</div>
        </div>
      </ion-tab-button>
      <!--  -->
    </ion-tab-bar>
  </ion-tabs>
  <!--  -->
</ion-content>
