<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>advertiser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">advertiser</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<!--  -->

<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>Advertiser</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="example-content">Advertiser content</div>
</ion-content>